$메인칼라 : #ff0000;

.red {
  color : $메인칼라;
}

.wow-enter {
  /* wow 애니매이션 시작할때*/
  opacity: 0;
}

.wow-enter-active {
  /* wow 애니매이션 동작할때*/
  opacity: 1;
  transition: all 500ms;
}


div.container {
  h4 {
    color : blue;
  }
  p {
    color : green
  }
}

@mixin 함수 (){
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert {

  @include 함수();

  p {
    margin-bottom: 0;
  }
}

.my-alert2 {
  @extend .my-alert;
  background-color: #ffe591;
}

